<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title></head>
<body>
    <button onclick='location.reload()'>Reload</button>

	<h1>Welcome to Flask page</h1>
<style>
table, th, td {
  border:1px solid black;
  border:1px solid black;
}
</style>

    <table style="width:100%">
        <tr>
          <th>Name</th>
          <th>Number</th>
          <th>Description</th>
          <th>Displayname</th>
          <th>emailAddress</th>
          <th>updated</th>
        </tr>
        {% for data  in fetchdata %}
        <tr>
            <td>{{data[0]}}</td>
            <td>{{data[1]}}</td>
            <td>{{data[2]}}</td>
            <td>{{data[3]}}</td>
            <td>{{data[4]}}</td>
            <td>{{data[5]}}</td>
        </tr>
          {% endfor %}

    </table>

</body>
</html>